* {
    margin: 0;
    padding: 0;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

/*  */

.container-fluid {
    padding-top: 10px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

#showcase {
    background-image: url("../images/bg.jpg");
    opacity: 1;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newTab {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

#newTab h2,
h4 {
    line-height: 50px;
    letter-spacing: 5px
}

.redButton {
    background-color: red;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;

}

.greenButton {
    background-color: #67C100;
    /* Green */
    border: none;
    color: white;
    padding: 10px 32px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.redButton2:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

.greenButton:hover {
    box-shadow: 0 12px 16px 0 #0000003d, 0 17px 50px 0 #00000030;
}

#bottom {
    position: absolute;
    bottom: 0;
}

#showcase h2 {
    color: red
}

#success h2,
h4 {
    line-height: 50px;
    letter-spacing: 5px
}

li a {
    color: #fff;
}


label {
    font-size: 15px;
    font-weight: lighter;
    letter-spacing: 1px
}

#planetName1,
#planetName2,
#planetName3,
#planetName4 {
    text-transform: uppercase;
    letter-spacing: 3px;
}

:disabled {
    opacity: 0.3;
}

.blink_me {
    animation: blinker 2s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
